.item {
    position: relative;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.details {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
}

.name {
    color: #333;
    font-size: 16px;
    font-weight: bold;
}

.category {
    color: #666;
    font-size: 14px;
    font-style: italic;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.item:last-child {
    border-bottom: none;
}

.item .name {
    font-weight: bold;
}

.item .category {
    color: #666;
}

.item .delete-button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.item .accept-delete-button {
    background-color: green;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.item .delete-button:hover {
    background-color: #c82333;
}