.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.category-buttons {
  margin-bottom: 20px;
}

.category-buttons button {
  margin-right: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.category-buttons button:hover {
  background-color: #0056b3;
}

.category-buttons button.active {
  background-color: #0056b3;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.item:last-child {
  border-bottom: none;
}

.item .name {
  font-weight: bold;
}

.item .category {
  color: #666;
}

.item .delete-button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.item .accept-delete-button {
  background-color: green;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.item .delete-button:hover {
  background-color: #c82333;
}

.create-item {
  margin-bottom: 20px;
}

.create-item input {
  margin-right: 10px;
}

.create-item button {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.create-item button:hover {
  background-color: #218838;
}

.search-bar {
  margin-bottom: 20px;
}

.search-bar input {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.search-bar input:focus {
  outline: none;
  border-color: #007bff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.toggle-create-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.toggle-create-button:hover {
  background-color: #0056b3;
}

.item img {
  width: 150px;
  height: 150px;
}
